{% extends 'base.html.twig' %}

{% block title "Snowtricks - Publier" %}

{% block body %}
<div class="banner_img">
</div>
<div class="container">
	<h1>Page création trick</h1>  
	</p>Lorem
</div>
{% endblock %}