{% extends 'base.html.twig' %}

{% block title "Snowtricks - Tricks" %}

{% block body %}
<div class="banner_img">
</div>
<div class="container">
	<h1>Pages avec la liste des tricks</h1>  
	</p>Lorem
</div>
{% endblock %}